@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Condensed&family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
    color: #FFF;
  }

  a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #FFFFFF
  }
  
  header {
    display: flex;
    justify-content: center;
    background-color: #252525;
    padding: 20px;
  }
  
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  header ul li {
    display: inline;
    margin-right: 20px;
  }
  
  main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px;
  }
  
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    max-width: 900px;
  }
  
  .section img {
    width: 350px;
    border-radius: 450px;
  }
  
  .button {
    background-color: #252525;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
  }
  
  footer {
    background-color: #252525;
    padding: 20px;
    text-align: center;
  }